
<div class="seven">
    crispizza
   </div> 


   <div class="eight">
    A Slice Of Happiness
   </div>

<div id="one">

  
    
<a id="two" routerLink="/registration-form">
    <button mat-raised-button color="accent">Registration</button>  
</a>

<div id="two">
<a routerLink="/login-form">
    <button mat-raised-button color="accent">Login</button>
</a>

</div>

<div >
<img class="three" src="https://images.pexels.com/photos/4553111/pexels-photo-4553111.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
</div>
</div>
